@model SmartMarket.Web.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smart Super Market</h1>
    <p class="lead">Smart Super Market</p>

</div>
@using (Html.BeginForm())
{
    <div class="row" style="align-self: center">

        <div class="col-md-12">
            Search by product<span style="color:red">*</span>:&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "form-search", @style = "width: 70%", @placeholder = "Search by product name" } })
            &nbsp;<input type="image" src="/Pics/search.png" alt="Submit" width="38" height="38" class="btn btn-default">
            &nbsp; @Html.DropDownList("lstCategories", null, htmlAttributes: new { @class = "form-search" })

        </div>
    </div>
    <div class="row">
        <br />
        <br />
    </div>
    <div class="row">
        @foreach (var item in Model.lstCompanies)
        {
            <div class="col-md-4 row-fluid">
                <a href="~/Products/Search?search=&categoryId=&companyId=@item.Id"><img src="@item.ImageURL" width="200px" height="200px" /><br />@item.CompanyName</a>
            </div>

        }


    </div>
}

@section Scripts {

    @Scripts.Render("~/Content/js/dllCascade.js")
}
