@model IEnumerable<BusinessEntities.Product>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Check out", "Index", "ShoppingCart")
        </div>
    </div>
        <div class="row">

            <div class="col-md-12">
                Search by product<span style="color: red">*</span>:&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="form-search text-box single-line" id="Search" name="Search" placeholder="Search by product name" style="width: 70%" type="text" value="">
                &nbsp;<input type="image" src="~/Pics/search.png" width="38" height="38" class="btn btn-default" id="SearchBTN">
                &nbsp; @Html.DropDownList("lstCategories", ViewBag.lstCategorie as SelectList, htmlAttributes: new { @class = "form-search" })

            </div>
        </div>
        <div class="row">
            <br />
            <br />
        </div>
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 row-fluid">
            <img src="@item.ImageURL" width="200px" height="200px" />
            <br />
            <span><strong>@item.ProductName</strong></span><br />
            Price:<span style="color: #B12704 !important;"> @item.Price  LE</span><br />
            Category:<a href="~/Products/Search?search=&companyId=&categoryId=@item.SubCategory.Category.Id"> @item.SubCategory.Category.CategoryName</a><br />

            <a href="#" class="AddToCartLink" data-id="@item.Id">Add to cart</a>
            Count: <span id="item-count-@item.Id" style="color: #B12704 !important;">0</span>&nbsp;Items&nbsp;
            <a href="#" class="RemoveFromCartLink" data-id="@item.Id">Remove from cart</a><br/>
            <a href="~/Products/Search?search=&categoryId=&companyId=@item.CompanyId">@item.Company.CompanyName</a>
            <br />
            <br />
        </div>

    }


</div>

<br /><br /><br /><br />

<div class="row">
    @Html.ActionLink("Select another filter", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/Content/js/dev.js")
    @Scripts.Render("~/Content/js/dllCascade.js")
}
