@model SmartMarket.Web.Models.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    @*@Html.ActionLink("Checkout>> ", "AddressAndPayment", "Checkout")*@
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Album Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.Id">
            <td>
                @Html.ActionLink(item.Product.ProductName,"Details", "Products", new { id = item.ProductId }, null)
            </td>
            <td>
                @item.Product.Price
            </td>
            <td id="item-count-@item.Id">
                @item.Count
            </td>
            <td>
                <a href="#" class="RemoveFromCartLink" data-id="@item.ProductId">Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>
@section Scripts {
@Scripts.Render("~/Content/js/dev.js")

@Scripts.Render("~/Content/js/dllCascade.js")
}